.banner .swiper {
  width: 240px;
  height: 320px;
}
.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSla9IRyGU1tyIzD20TvcVXjn5goYW2z0MPA&s");
}

.banner .swiper-slide:nth-child(2n) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRISvLadDcPcq8PTF4Z5DnUU8EuN2VqBjjkiw&s");
}

.banner .swiper-slide:nth-child(3n) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBcO26kdi60I4raBpJSMFyJMX2AzPfb2D9Aw&s");
}

.banner .swiper-slide:nth-child(4n) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsfxrcUtlaLqSTTpA7N9cWKIopvRNtXngM2A&s");
}

.banner .swiper-slide:nth-child(5n) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw51g1gMBrZN3FbN17flaY_YSYmTMGuudh3Q&s");
}
