.Brands{
    background: var(--color-bg-#868080);
    padding: 20px 0;
}

.brands-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    align-items: center;
}

@media(max-width:1024){
    .brands-container{
        gap: 25px;
    }
}

@media(max-width:600){
    .brands-container{
        gap: 15px;
    }
}